{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- {% block title %}Contact - Clique Mambas{% endblock %} -->
<link rel="stylesheet" href="{% static 'css/contact.css'%}">
<div class="container-fluid text-center">
    <div class="container">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem veniam perferendis neque error mollitia. In ex laborum
                deserunt voluptatem blanditiis quis iure veniam dolorum ut voluptas, perspiciatis magni explicabo at.</p>
    </div>
</div>


<script src="{% static 'js/contact.js'%}"></script>


{% endblock %}